.navbar{
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 40px;

}
  .navbar label{
    display: none;
 } 
 #Click{
    display: none;
 }
 #Click:checked~.navbar ul{
    display: block;
 }
 @media screen and (max-width:600px) {
    .navbar label{
        display: block;
    }
    .navbar ul{
        display: none;
        position: absolute;
        top: 60px;
        background-color: lightgreen;
        width: 100%;
    }
    .navbar ul li{
        padding: 10px;
    }
    
 }